@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.h1 {
     font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.h1logo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
.gradient-text {
  background-image: linear-gradient(to top, #2b00ff, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
/* index.css or App.css */
.gradient-text-about {
  background: linear-gradient(to right, #7357ff, #fcacff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
/* App.css */
.gradient-text-services {
  background: linear-gradient(to right, #7357ff, #fcacff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
/* App.css */
.gradient-text-contact {
  background: linear-gradient(to right, #7357ff, #fcacff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
/* styles.css or tailwind.css */
